body{
	background:url(images/img01.gif) repeat;
}


.topic{
	width: 100%;
	text-align: center;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 70px 0px 70px 70px;
}

th, td{
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #a3c2c2;
  min-heignt: 70px;
}

tr:nth-child(odd) {
  background-color: #d1e0e0;
}

