@CHARSET "ISO-8859-1";

body{
	background:url(background-images/b7.jpg);
	//background-repeat:no-repeat;
}

.container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 1400px;
    padding-top: 20px;
    margin-top: 170px;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
    height: 1200px;
    min-height: 110em;
    background-color: #ccccb3;
    box-shadow: 5px 5px #999966;
    border: 1px solid #999966;
}

h2 {
  text-align: center;
  color: #999966;  
}

.about{
	
}
