@CHARSET "ISO-8859-1";

.container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 2000px;
    padding-top: 20px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    min-height: 80em;
    background-color: #ccccb3;
    box-shadow: 5px 5px #999966;
    border: 1px solid #999966;
}

.map{
	padding-top:50px;
	padding-left:450px;
}