@CHARSET "ISO-8859-1";

.search{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 800px;
    padding-top: 5px;
    margin-top: 50px;
    margin-left: 550px;
    margin-right: 250px;
    margin-bottom: 45px;
    //height: 500px;
    min-height: 30em;
    background: url(background-images/b0.jpg);
    //box-shadow: 5px 5px ;
    border: 3px solid #999966;
}

.search h3{
    font-family: "Times New Roman";
    padding-top: 20px;
    //margin-left: 20px;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px #999966;
}

form.example input[type=text] {
    margin-left:90px;
    margin-right:20px;
    font-size: 30px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 10%;
    //padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}