@CHARSET "ISO-8859-1";

body{
	background:url(background-images/b2.jpg);
}

.container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 1420px;
    padding-top: 20px;
    margin-top: 170px;
    margin-left: 300px;
    margin-right: 300px;
    //min-height: 100em;
    background-color:#ccccb3;
    box-shadow: 8px 8px #999966;
    border: 1px solid #999966;
}

.form {
    padding: 50px;
    max-width: 800px;
    margin: 40px auto;
    //border-radius: 4px;
    //box-shadow: 0 4px 10px 4px #2f2f2f;
    transition: .3s ease;
    font-size: 30px;
}

input {
  padding: 10px;
  width: 60%;
  font-size: 25px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  padding: 10px;
  width: 60%;
  font-size: 25px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  color: #999966;  
}

p{
	font-size: 25px;
	font-family: Raleway;
	color: #737373;
}

#sButton{
	//margin-left: auto;
    //margin-right: auto;
    width: 50%;
    height: 50px;
    text-transform: uppercase;
    color: #2f2f2f;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 3px;
    background: #999966;
    border: none;
    display: block;
    transition: box-shadow 0.5s ease;
}

#sButton:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background: black;
    color: white;
}

